[submodule "tamilarasusaravanakangeyan/Desktop/projects/git_repo/tamilsmtp/microsoft_learn/mslearn-ai-language"]
	path = tamilarasusaravanakangeyan/Desktop/projects/git_repo/tamilsmtp/microsoft_learn/mslearn-ai-language
	url = https://github.com/microsoftlearning/mslearn-ai-language
